In [ ]:
import dbrdemo

from dbrdemo import spark

spark.sql("show tables")